{% extends 'base.html' %}

{% block title %}
Подтверждение почты
{% endblock %}

{% block breadcrumbs %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrumbs rounded">
                <ul>
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'profile' %}">Профиль</a></li>
                    <li><span>Подтверждение почты</span></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-12">
            <div class="page-register bg-white p-3">
                <h1 class="section-title h3"><span>Подтверждение почты</span></h1>

                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <p class="h4">Письмо вместе со ссылкой на подтверждение почты было отправлено на {{ request.user.email }}.</p>
                        <p class="h5">Проверьте свой почтовый ящик.</p>
                    </div>
                </div>
                <div class="row">
                    <a href="{% url 'email_verification_edit' %}">Указал не ту почту?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}