{% extends 'profile_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Смена пароля
{% endblock %}

{% block breadcrumbs %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'profile' %}">Профиль</a></li>
                    <li><span>Смена пароля</span></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block side_content %}
<div class="row">
    <div class="col-12">

        <div class="password-change-content">
            <h1 class="section-title h3"><span>Смена пароля</span></h1>

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form method="POST" class="password-change-form" novalidate>
                        {% crispy form form.helper %}

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}