{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Редактор профиля
{% endblock %}

{% block breadcrumbs %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrumbs rounded">
                <ul>
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'profile' %}">Профиль</a></li>
                    <li><span>Редактирование профиля</span></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-12">

            <div class="page-register bg-white p-3">
                <h1 class="section-title h3"><span>Редактор профиля</span></h1>

                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form method="POST" action="{% url 'profile_edit' %}">
                            {% crispy form form.helper %}
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}