{% extends 'showroom_base.html' %}

{% load showroom %}


{% block title %}
Автосалон "{{ object.title }}"
{% endblock %}

{% block breadcrumbs %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><span>Автосалоны</span></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block side_content %}
<div class="row mb-3">
    <div class="col-12">
        <h1 class="section-title h3"><span>Автосалоны"</span></h1>
    </div>
</div>

<hr>

<div class="row mb-3">
    <div class="col-sm d-flex justify-content-center">
        <p>Вы пока что не добавили ни один автосалон.</p>
    </div>
</div>

{% endblock %}
