<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>

    <body style="pointer-events:none;font-family: 'Roboto', sans-serif;background-color: #f5f5f5;color: #6c757d;">
        <div style="background-color:#f5f5f5;justify-content:center;">
            <a href="http://{{ domain }}{% url 'index' %}" style="font-size:25px;text-decoration:none;color:#ffd333;text-align:center;">Dealer Helper</a>
        </div>

        <hr>

        {% block content %}
        {% endblock %}
    </body>
</html>