{% extends 'email_base.html' %}

{% block content %}
<h1 style="font-size:20px;">Сброс пароля</h1>
<p style="color:#6c757d;">Пожалуйста, нажмите на кнопку ниже, чтобы сбросить Ваш пароль.</p>

<a style="color:#ffd333; font-size:20px;-webkit-appearance: button; -moz-appearance: button; appearance: button; text-decoration: none;" href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    Сбросить пароль
</a>

<hr>

<p style="color:#6c757d;">Если это были не вы, то, пожалуйста, поменяйте пароль в настройках Вашего профиля.</p>
{% endblock %}